.detailTitle {
    font-size: 18px;
    font-weight: bold;
}

.detailDescription {
    border: 0px solid;
    font-size: 14px;
}

.switchContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    /* border: 1px solid; */
}


.boxTitle {
    /* border: 1px solid; */
    font-size: 16px;
    font-weight: bold;
    /* word-break: break-word; */
    white-space: nowrap;  
    overflow: hidden;         /*prevent text from being shown outside the border */
    text-overflow: ellipsis;
    /* padding-bottom: 3px; */
}

.boxContainer {
    border: 1px solid #4C4C4C;
    /* border-color: black; */
    /* background-color: red; */
    
    border-radius: 6px 6px 0px 0px;
    overflow: hidden;
    height: 100px;
    padding: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
    /* background-color: #FEFBDF; */
    /* alignItems: 'center', */
    /* justifyContent: 'center', */
    /* display: 'flex', */
}


.boxDescription {
    border: 0px solid;
    font-size: 14px;
    /* padding-top: 3px; */
    /* overflow: hidden;
    height: 65px; */
    /* -webkit-overflow-scrolling: touch; */
}

