.grid {
    border:1px solid;
    /* background-color: red; */
    font-size: 18px;
    font-weight: bold;
    height: 80px;
    background-color: lightslategray;
    /* width: 80px; */
}

.row {
    /* border:5px solid blue; */
    border:5px solid white;
    /* justify-content: center; */
    
}

.col {
    /* border:3px solid seagreen; */
    border:3px solid white;
    background-color: lightslategray;
    /* justify-items: center; */
}



.container {
    /* border:3px solid red; */
    /* background-color: red; */
    background-color: white;
    border-width: 1px;
    /* height: 100%; */
    /* padding-left: 0;
    padding-right: 0; */
    /* padding: 0; */
    /* height: 100%; */
}

